/* BOTÃO HAMBURGER */
.hamburger {
    border-radius: 50%;
    width: 45px;
    height: 75px;
}

/* FORMULÁRIO DE BUSCA */
.search-form {
    width: 400px;
}

/* HEADER SIDEBAR */
.sidebar-header {
    background: #232f3e;
}

/* IMAGENS DOS PRODUTOS */
.product-img {
    height: 180px;
    object-fit: contain;
}

/* LOGO NAVBAR */
.navbar-brand img {
    height: 40px;
    width: auto;
}